---
import MenuCss from '../components/MenuCss.astro';
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="Generator CSS">
	<main class="container mx-auto">
		<MenuCss>
			<Background />
		</MenuCss>
	</main>
</Layout>

<style>

</style>