---
import MenuCss from '../components/MenuCss.astro';
import Tipografia from '../components/Tipografia.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Generator CSS">
	<main class="container mx-auto">
		<MenuCss>
			<Tipografia />
		</MenuCss>
	</main>
</Layout>

<style>

</style>
