---
import Layout from '../layouts/Layout.astro';
import LoginComponent from '../components/LoginComponent.astro';
---

<Layout 
title="Generator CSS" 
description='Jaweb - Generator Tailwind CSS Login'
canonical="https://jaweb.es/login">
	<main class="container mx-auto">
		<LoginComponent />
	</main>
</Layout>

<style>

</style>